.container {
  width: 100%;
}

.side-bar {
  position: fixed;
  height: 110%;
  width: 350px;
  z-index: 1;
  top: -5%;
  left: 0;
  overflow-x: hidden;
  background: rgba(108,92,67,0.75);
  color: white;
  box-shadow: 10px 0px 12px rgba(0,0,0,0.6);
}

.main-content {
  margin-left: 350px;
  overflow-x: hidden;
  color: #333;
}

.card > .top-header {
  margin-top: 0;
}

.card > p {
  margin-bottom: 0;
}

.card {
  background: rgba(255,255,255,0.9);
  margin: 0px 40px;
  margin-bottom: 16px;
  padding: 20px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 800px;
  font-size: 16px;
}

.card a {
  color: #999;
}

.top-card {
  margin-top: 16px;
}

.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h4 {
  margin: 0;
}

a {
 margin: 10px; 
 color: white;
}

a:hover {
  transform: scale(1.04);
  color: #f2cbcc;
}

body {
  background-image: url('assets/stones.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 700px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile {
  height: 200px;
  border-radius: 100%;
  border: 3px solid white;
}

@media only screen and (min-width:600px) and (max-width: 1280px) {
  .side-bar {
    width: 240px;
  }

  .side-bar h1 {
    font-size: 22px;
  }

  .main-content {
    margin-left: 240px;
  }

  #profile {
    height: 140px;
  }

  .card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  
  .top-card {
    margin-top: 12px;
  }
}

@media only screen and (max-width:700px) {
  body {
    min-width: 0;
  }

  .main-content {
    margin: 0;
    margin-top: 60px;
    overflow-x: hidden;
  }

  .card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .top-card {
    margin-top: 12px;
  }

  .side-bar {
    height: 60px;
    width: 100%;
    z-index: 1;
    top: 0;
    background: rgba(108,92,67,1);
    color: white;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.6);
  }

  .side-bar h1 {
    font-size: 18px;
    margin: auto;
    margin-bottom: 0;
  }

  .side-bar a {
    margin-top: 0;
  }

  .side-bar h4 {
    display: none;
  }

  .side-bar img {
    display: none;
  }
}
